USE [master]
GO
/****** Object:  User [##MS_PolicyEventProcessingLogin##]    Script Date: 16-05-2026 12:37:44 ******/
CREATE USER [##MS_PolicyEventProcessingLogin##] FOR LOGIN [##MS_PolicyEventProcessingLogin##] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [##MS_AgentSigningCertificate##]    Script Date: 16-05-2026 12:37:44 ******/
CREATE USER [##MS_AgentSigningCertificate##] FOR LOGIN [##MS_AgentSigningCertificate##]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 16-05-2026 12:37:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] NOT NULL,
	[CustomerID] [int] NULL,
	[AccountType] [nvarchar](50) NULL,
	[OpenDate] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AML_Master_Data]    Script Date: 16-05-2026 12:37:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AML_Master_Data](
	[Customer_ID] [bigint] NULL,
	[Name] [varchar](100) NULL,
	[Sex] [varchar](6) NULL,
	[Country] [varchar](14) NULL,
	[Business_Occupation] [varchar](13) NULL,
	[KYC_Completed] [varchar](7) NULL,
	[PEP_Status] [varchar](3) NULL,
	[Expected_Monthly_Volume] [int] NULL,
	[SAR_Filled] [int] NOT NULL,
	[Jurisdiction_Risk] [varchar](6) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 16-05-2026 12:37:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Country] [nvarchar](50) NULL,
	[RiskRating] [nvarchar](20) NULL,
	[CustomerType] [nvarchar](20) NULL,
	[KYCCompleted] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 16-05-2026 12:37:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TxnID] [int] NOT NULL,
	[AccountID] [int] NULL,
	[TxnDate] [datetime] NULL,
	[Amount] [decimal](18, 2) NULL,
	[TxnType] [nvarchar](20) NULL,
	[Country] [nvarchar](50) NULL,
	[Channel] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[TxnID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
